.reading-table{
    /* padding: 2rem; */
    width: 100%;
    padding-top: 3vh;
}

.table-name{
    font-size: 4vh;
    text-align: center;
    background-color: #fcf9f9;
    border: 0.7vh solid #fcf9f9;
    border-radius: 3vh;
    padding: 0.3rem;
}

table{
    margin-top: 2vh;
    text-align: center;
    width: 100%;
    
}

td{
  padding: 0.3rem; 
  text-align: left;
  font-size: 3vh;
  font-weight: lighter;
}

label{
    margin-left: 0px;
}

/* .tariff{
    font-size: 1rem;
    padding: 2rem;
} */

@media (max-width: 630px) {
    .table-name{
        font-size: 1.1rem;
    }
  }