* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 2.6vh;
  font-family: Arial, sans-serif;
}

/* .custom-scroll {
  &::-webkit-scrollbar {
    width: 8px;
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #333;
  }
  
}  */

.container {
  margin-top: 1vh;
  width: 100%;
  
  height: 87vh;
  background: whitesmoke;
  
  display: flex;
  align-items: center;
  justify-content: center;

}

.grid {
  width: 90%;
  height: 75vh;
  border: 2px solid #777;
  border-radius: .5rem;
  padding: 2rem;
  background: #fff;
  overflow: hidden;
  overflow-y: scroll;
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 14vh 44vh;
  grid-template-areas: 
    "h h"
    "i1 i2";
  gap: 4vh;
}

/* .grid-object{
  color: wheat;
  font-family: cursive;
  font-size: 15px;
  padding: 20px;
} */

.card {
  /* padding: 2rem; */
  border: 0.1rem solid #aaa;
  border-radius: .5rem;
  background: #ddd;
  font-weight: bold;
  /* text-align: center; */
  /* text-transform: uppercase; */
}

.header { grid-area: h;}
.ceb { grid-area: i1; }
.generator { grid-area: i2; }
/* .info-3 { grid-area: i3; }
.list { grid-area: l; }
.chart { grid-area: c; } */

.header { 
  /* height: 8rem; */
  font-size: 2rem;
  text-align: left;
  padding-left: 20px;
  display: inline;
  line-height: 75px;
  /* display: grid;
  grid-template-columns: 95% 5%; */
}

.ceb{
  font-size: 1.5rem;
  height: 48vh;
  padding: 1rem;
}

.generator{
  font-size: 1.5rem;
  height: 48vh;
  padding: 1rem;
}

.fa{
  line-height: 14vh;
  float: right;
  margin-right: 1rem;
  display: inline;
}

.fa-chevron-circle-right{
  cursor: pointer;
}

.select{
  font-size: 3.5vh;
  float: inline-end;
  line-height: 14vh;
  display: inline;
  position: absolute;
  padding-left: 14rem;
}

/* .grid-responsive {

  @media (max-width: 800px) {
    grid-template-areas: 
      "h h"
      "i1 i2"
      ;
  }
  

} */

@media (max-width: 800px) {
  .grid-responsive{
  grid-template-columns: 1fr;
  grid-template-areas: 
    "h"
    "i1"
    "i2"
    ;
    gap: 2rem;
  }

  .header{
    font-size: 1.2rem;
  }

  .ceb{
    font-size: 1.2rem;
  }

  .generator{
    font-size: 1.2rem;
  }
}

/* .switch{
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
}

.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider{
  position: absolute;
  cursor: pointer;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color:darkgray;  
  border-radius: 34px;
}

.slider:before{
  position: absolute;
  content: "" ;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%; 
}

input:checked + .slider:before{
  transform: translateX(35px);

} */

/* input:checked + .slider{
  background-color: darkgray;
} */