html,
body,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  font-family: sans-serif;
}
/* .divNav{
    display: grid;
    grid-template-columns: repeat(4, ifr);
} */
.nav {
  /* display: flex; */
  margin: 0.3rem;
  border: 1px solid #e5e5e5;
  padding: 1rem 4rem 1rem 4rem;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  /*  podendo usar o margin para estilizar onde quiser o menu, no meu caso, quero ele sem encostar nas laterais para que possamos ver o destaque dele do restante da tela  */
}
.navButtons {
  
  align-items: center;
  height: 5vh;
}
.plant{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: 
      "h1 h2 h3 h4 h5";
    width: 100%;
    text-align: center;
}
.overall{
  grid-area: h1;
  
}
.assembly{
    grid-area: h2;
    
}
.printing{
    grid-area: h3;
}
.inm{
    grid-area: h4;
}
.general{
    grid-area: h5;
}
.navButtons ul {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  list-style-type: none;
}
.navButtons ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* nav.nav .buttonsLogin {
  display: flex;
  gap: 1rem;
  align-items: center;
} */
/* nav.nav .buttonsLogin button {
  min-width: 60px;
  min-height: 30px;
  border: none;
  border-radius: 0.3rem;
  width: 80px;
  height: 30px;
  color: white;
  background-color: #61a5c2;
} */
