.printingmap{
    margin-top: 10vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.assemblymap{
    margin-top: 10vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}